<!-- 底部引入页面 -->
</div> <!-- container -->
</div> <!-- content -->
<!-- 页脚 -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                {:$config.copyright}
            </div>

            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                    {:$config.title}
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- 页脚 -->
</div>
<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
</div>
<!-- END wrapper -->
<script type="text/javascript" src="../../static/js/jquery.min.js" ></script>
<script type="text/javascript" src="../../static/javascript/app.min.js"></script>
<script type="text/javascript" src="../../static/layer/layer.js"></script>
<script type="text/javascript" src="../../static/javascript/jquery.Huploadify.js"></script>
<script type="text/javascript" src="../../static/js/Nzhin.js" ></script>
</body>
</html>