{include file="Public/header" title="页面未找到"/}
<!--
// +---------------------------------------------+
// | Name: ConfessionWall
// +---------------------------------------------+
// | Author: White.【Nzhin】<www.nzhin.cn>
// +---------------------------------------------+
// | Contact: QQ：1449893567
// +---------------------------------------------+
// | Created: PHPStorm
// +---------------------------------------------+
// | Date: 2022年5月15日
// +---------------------------------------------+
-->
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">页面未找到</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row justify-content-center">
    <div class="col-lg-4">
        <div class="text-center">
            <img src="../../static/htmlimg/file-searching.svg" height="90" alt="File not found Image">

            <h1 class="text-error mt-4">404</h1>
            <h4 class="text-uppercase text-danger mt-3">该表白卡不存在</h4>
            <p class="text-muted mt-3">看起来你可能访问了错的页面，不用担心。这里有一个小技巧，可以帮助您回到正轨。</p>

            <a class="btn btn-danger mt-3" href="{:url('/index')}"><i class="mdi mdi-reply"></i> 返回首页</a>
        </div> <!-- end /.text-center-->
    </div> <!-- end col-->
</div>
<!-- end row -->
{include file="Public/footer" /}